services:
  catalogdb:
    image: postgres:latest
  basketdb:
    image: postgres:latest
  distributedcache:
    image: redis:latest
  orderdb:
    image: mcr.microsoft.com/mssql/server:2022-latest
  messagebroker:
    image: rabbitmq:management

  catalog.api:
    image: ${DOCKER_REGISTRY-}catalogapi
    build:
      context: .
      dockerfile: Services/Catalog/Catalog.API/Dockerfile

  basket.api:
    image: ${DOCKER_REGISTRY-}basketapi
    build:
      context: .
      dockerfile: Servcies/Basket/Basket.API/Dockerfile

  discount.grpc:
    image: ${DOCKER_REGISTRY-}discountgrpc
    build:
      context: .
      dockerfile: Services/Discount/Discount.gRPC/Dockerfile

  ordering.api:
    image: ${DOCKER_REGISTRY-}orderingapi
    build:
      context: .
      dockerfile: Service/Ordering/Ordering.API/Dockerfile

volumes:
  postgres_catalog:
  postgres_basket:




